:root {
    --message-animation: 0.1s;
}

.overlay {
    position: fixed;
    backdrop-filter: blur(3px);
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blur-in var(--message-animation) ease-in forwards;
}

@keyframes blur-in {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(3px);
    }
}

.message-window {
    background-color: var(--background);
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    border: solid 4px var(--primary);
    animation: pop-up var(--message-animation) ease-in;
}

@keyframes pop-up {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#message-text {
    padding: 5px 10px 10px 5px;
    flex-grow: 3;
    text-align: justify;
    color: var(--text-color);
    border-bottom: dashed 2px var(--tertiary);
}

.message-buttons {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(var(--num-buttons), auto);
    gap: 20%;
    justify-content: center;
    padding: 10px 5px 0px 5px;
}

.message-button {
    flex: 1;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid;
}

#accept-button {
    color: #3f59efdf;
    font-weight: bold;
    border: solid 3px #3f59efdf;
    background: var(--background);
    letter-spacing: 1px;
}

#accept-button:hover {
    cursor: pointer;
    border-color: #0433a0f9;
    background-color: #0433a0f9;
}

#reject-button {
    border: solid 2px #bebebedf;
    color: #bebebedf;
    background: var(--background);
    font-weight: bold;
    letter-spacing: 1px;
}

#reject-button:hover {
    cursor: pointer;
    border-color: #696a6bf9;
    background-color: #696a6bf9;
}
