:root {
    --profile-link-animations: 0.1s;
}

.profile-links-overlay {
    position: fixed;
    inset: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.profile-links-overlay.open {
    animation: fill-in var(--profile-link-animations) ease-out forwards;
}

@keyframes fill-in {
    0% {
        z-index: 1;
    }
    50% {
        z-index: 4;
    }
    100% {
        z-index: 4;
    }
}

.profile-links-overlay.closed {
    animation: fill-out var(--profile-link-animations) ease-out forwards;
}

@keyframes fill-out {
    0% {
        z-index: 4;
    }
    50% {
        z-index: 4;
    }
    0% {
        z-index: -1;
    }
}

.profile-links {
    position: absolute;
    right: 2px;
    top: 1px;
    background: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 0;
    transform: scale(0);
    width: fit-content;
    height: fit-content;
    transform-origin: top right;
}

.profile-links.open {
    animation: grow-in var(--profile-link-animations) ease-in forwards;
}

@keyframes grow-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.profile-links.closed {
    animation: grow-out var(--profile-link-animations) ease-out forwards;
}

@keyframes grow-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.profile-nav-link {
    padding: 5px 10px;
}

.profile-nav-link:first-child {
    border-radius: 3px 3px 0 0;
}

.profile-nav-link:last-child {
    border-radius: 0 0 3px 3px;
}

.profile-nav-link:hover {
    cursor: pointer;
    background-color: grey;
}

.profile-nav-link:active {
    color: var(--tertiary);
}
