#author {
    flex: 1;
    text-align: left;
}

#readme-link {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex: 1;
    gap: 3px;
    text-align: right;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

#readme-link:hover {
    color: rgb(31, 31, 182);
}
