body {
    height: 100%;
    width: 100%;
    margin: 0;
}

:root {
    background-color: var(--background);
    color: var(--text-color);
}

/* Z indices */

.overlay {
    z-index: 10;
}

.status-holder {
    z-index: 9;
}

.outlet {
    z-index: 3;
}

.side-links-overlay,
.profile-links-overlay {
    z-index: 1;
}
